.about-us{
  @include pageGrid;

  &__title{
    grid-column: 1 / -1;

    @include onTablet{
      grid-column: 1 / 3;
    }

    @include onDesktop{
      grid-column: 1 / 4;
    }
  }

  &__description{
    margin: 0;
    font-family: $font-space-mono;
    font-weight: $description-font-weight;
    line-height: $standart-line-height;
    grid-column: 1 / -1;

    @include onTablet{
      grid-column: 4 / 7;
    }

    @include onDesktop{
      grid-column: 7 / 13;
    }
  }
}
