.button--wrapper{
  @include pageGrid;
}

.button{
  font-size: 16px;
  font-weight: $main-font-weight;
  background-color: $text-color;
  color: $button-color-text;
  border: none;
  height: 56px;
  border-radius: 8px;
  grid-column: span 2;
  transition: all .3s;

  &:hover{
    background-color: $bitton-bacground-color-hover;
    border: 2px solid $button-border-color-hover;
    color: $text-color;
  }

  &:active{
    background-color: #111;
    color: #fff;
  }

  @include onTablet{
    grid-column: span 6;
  }

  @include onDesktop{
    grid-column: span 4;
  }
}
