.contacts{
  &__wrapper{
    @include pageGrid;
  }

  &__form{
    grid-column: 1 / -1;
    display: grid;
    row-gap: 16px;


    @include onDesktop{
      grid-column: 1 / 6;
    }
  }

  &__button{
    margin-top: 16px;
    grid-column: 1 / -1;
  }

  &__input{
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: $bitton-bacground-color-hover;
    color: $text-input-color;
    border-radius: 8px;
    font-family: $font-space-grotesk;
    font-size: 14px;
    border: none;

    &:hover{
      border: 1px solid $hover-border-color;
      color: $text-color;
      z-index: 1;
    }

    &:focus{
      outline: none;
      border: 1px solid $text-color;
      color: $text-color;
    }
    &:not(:placeholder-shown) {
      color: $text-color;
    }
  }

  &__textarea{
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: $bitton-bacground-color-hover;
    color: $text-input-color;
    border-radius: 8px;
    font-family: $font-space-grotesk;
    font-size: 14px;
    border: none;
    height: 148px;
    resize: none;

    &:hover{
      border: 1px solid $hover-border-color;
      color: $text-color;
    }

    &:focus{
      outline: none;
      border: 1px solid $text-color;
      color: $text-color;
    }
    &:not(:placeholder-shown) {
      color: $text-color;

    }
  }

  &__info{
    grid-column: 1 / -1;
    margin-top: 48px;
    display: grid;
    row-gap: 24px;
    align-self: start;

    @include onTablet{
      margin-top: 80;
    }

    @include onDesktop{
      grid-column: 7 / -1;
      margin-top: 0;
    }

    &--block{
      line-height: 140%;

    }

    &--title{
      font-family: $font-space-grotesk;
      font-weight: 400;
      font-size: 14px;
      color: $info-title-color;

      margin: 0;
    }

    &--text{
      font-family: $font-space-mono;
      margin: 0;
      height: 100%;
      color: $info-text-color;
      text-decoration: none;
    }
  }
}
