.icon{
  display: block;
  width: $icon-size;
  height: $icon-size;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  &:hover{
    transform: scale(1.2);
  }

  @include onTablet{
    height: 32px;
    width: 32px;
  }

  &--phone{
    background-image: url(../images/icons/Icon-Phone-call.png);
    position: relative;

    &::after{
      content: '+1 234 555-55-55';
      font-family: Inter, sans-serif;
      font-weight: $main-font-weight;
      font-size: 12px;
      letter-spacing: 2px;
      color: $text-color;
      position: absolute;
      display: block;
      top: 25%;
      right: 40px;
      white-space: nowrap;
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: right;
    }

    &:hover::after{
      transform: scale(1);
    }
  }
  &--menu{
    background-image: url(../images/icons/Icon-Burger-menu.png);

    &:hover{
      background-image: url(../images/icons/Icon-Burger-menu-hover.png);
    }
  }

  &--close{
    background-image: url(../images/icons/Icon-Close.png);
  }
}
