.promo-image {
  height: 200px;

  background-image: url('../images/promo-image.png');
  background-size: cover;
  background-position: center;

  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;

  @include onTablet{
    height: 400px;
  }

  @include onDesktop{
    height: 460px;
  }
}
