$tablet-min-width: 576px;
$desktop-min-width: 1020px;
$icon-size: 24px;
$font-space-grotesk: 'Space Grotesk', sans-serif;
$font-space-mono: 'Space Mono', monospace;
$main-font-weight: 700;
$description-font-weight: 400;
$text-color: #292929;
$menu-background-color: #E5E6E8;
$button-color-text: #fff;
$button-border-color-hover: #F0F1F4;
$bitton-bacground-color-hover: #F8F8FA;
$text-input-color: #7E7E83;
$hover-border-color: #D5D7DE;
$info-title-color: #9393A3;
$info-text-color: #191919;
$standart-line-height: 140%;
$standart-letter-spacing: 0;
